/* файл index.html */
:root {
    --brand-color: #2E2F42;
    --main-color-text: #434455;
    --accent-color: #4D5AE5;
    --white-color: #FFFFFF;
    --secondary-background-color: #F4F4FD;
    --secondary-color-text: #E7E9FC;
    --color-hover: #404BBF;
}
body {
    background-color: var(--white-color);
    color:  var(--main-color-text);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
h1,h2,h3 {
    margin-top: 0;
    margin-bottom: 0;
}

/* logo */
.icon a {
    color: var(--brand-color);
    text-decoration: none;
    line-height: 1.33;
}
.icon a:hover, .icon a:focus {
    color: var(--color-hover);
   }
.main-nav{
    
    display: flex;
    align-items: center;
}
.icon-link {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03em;
}
span {
    color: var(--accent-color);
}
/* Ефект поточної сторінки */
.site-nav .link.current {
    color: var(--accent-color);
}
/* hero */

.words {
    width: 1440px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/overlay.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/overlay.jpg);

    padding: 188px 0;
    text-align: center;
    background-color: var(--brand-color);
}
.hero-title {
    width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;

    color: var(--white-color);
    font-size: 56px;
    line-height: 1.07;   
}
.button {
    
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;

    background-color: var(--accent-color);
    color: var(--white-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    
}
.button:hover, .button:focus {
    background-color: var(--color-hover);
}

/* site-nav */
.list {
    margin: 0;
    padding: 0;
}
.items {
    margin-left: 76px;
}
.site-nav{
    display: flex;
}
.site-nav a {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 24px;
    padding-bottom: 24px;
}
.site-nav .item +.item {
    margin-left: 40px;
}

/* auth-nav */
.auth-nav a {
    display: block;
    color: var(--main-color-text);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 24px;
    padding-bottom: 24px;
}
.items-nav {
    margin-left: auto;
}
.auth-nav {
    display: flex;
}
.auth-nav .item + .item {
    margin-left: 40px;
}

/* section */

.section-title {
    margin-bottom: 8px;
    
    color: var(--brand-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.stage::before {
    content: "";
    display: block;
    height: 112px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--secondary-background-color);
}

.icon-antenna::before {
    background-image: url(../images/antenna.svg);
}
.icon-clock::before {
    background-image: url(../images/clock.svg);
}
.icon-diagram::before {
    background-image: url(../images/diagram.svg);
}
.icon-astronaut::before {
    background-image: url(../images/astronaut.svg);
}

.headline {
    display: none;
}
.section-text { 
    display: flex;
}
.section-text .item {
    width: calc((100% - 72px) / 4);
}
.section-text .item + .item {
    margin-left: 24px;
}
.section-caption {
    padding-bottom: 120px;
}

.subtitle {
    margin-bottom: 72px;

    color: var(--brand-color);
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
}
.section-subtitle {
    display: flex;
}
.section-subtitle .pic {
    width: calc((100% - 48px)/ 3);
}
.section-subtitle .pic + .pic {
    margin-left: 24px;
}

.section-subtitle .item {
    width: calc((100% - 72px) / 4);
}
.section-subtitle .item + .item {
    margin-left: 24px;
}
.item .list {
    text-align: center;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}
.list-text {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    padding: 32px 0;

    background-color: var(--white-color);
}
.text {
    margin: 0;

    color: var(--main-color-text);
    font-size: 16px;
    line-height: 1.5;
}
.title-desc {

    background-color: var(--secondary-background-color);
}
.section {
    padding: 120px 0;
}
.desc {
    text-align: center;
    margin: 0;

    color: var(--main-color-text);
    font-size: 16px;
    line-height: 1.5;
}
.list-team {
    display: flex;
    height: 40px;
    
    outline: 2px solid red;
}
.link-team {
    margin-left: 24px;
    width: calc((100% - 72px) / 4);
}

.link-instagram {
    background-image: url(../images/instagram.svg);
}
.link-twitter {
    background-image: url(../images/twitter.svg);
}
.link-facebook {
    background-image: url(../images/facebook.svg);
}
.link-linkedin {
    background-image: url(../images/linkedin.svg);
}







/* footer */

.footer-content {
    padding: 100px 0;
    background-color: var(--brand-color);
}

.footer-content a {
      
    color: var(--secondary-background-color);
    line-height: 1.16;
    text-decoration: none;
}
.footer-content .text {      
    margin-top: 16px;
    color: var(--secondary-color-text);  
}

.quote-link {
    width: 264px;
}




/* portfolio.html */
/* --brand-color: #2E2F42;
    --main-color-text: #434455;
    --accent-color: #4D5AE5;
    --white-color: #FFFFFF;
    --secondary-background-color: #F4F4FD;
    --secondary-color-text: #E7E9FC;
    --color-hover: #404BBF; */

/* header */

.nav-list {
    border-bottom: 1px solid var(--secondary-color-text);
}



/* button */
.item-nav {
    padding-top: 96px;
    padding-bottom: 120px;
    
}
.btn-group {
    padding: 12px 24px;
    
    background-color: var(--secondary-background-color);
    color: var(--accent-color);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid var(--secondary-color-text);
}
.btn-group:hover, .btn-group:focus {
    background-color: var(--color-hover);
    color: var(--white-color);  
}
.group-button .btn + .btn {
    margin-left: 24px;
}
.group-button {
    margin-bottom: 72px;
    display: flex;
    justify-content: center;

}
.gallery {
    display: flex;
    flex-wrap: wrap;
    
}
.gallery .item-picture {   
    margin-bottom: 48px;
}
.gallery-title {
    margin-bottom: 8px;
   
    color: var(--brand-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.gallery p {
    
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.item-picture {
    width: calc((100% - 48px)/ 3);
    margin-right: 24px;
}
.item-picture:nth-child(3n) {
    margin-right: 0;
}
.item-picture:nth-last-child(-n+3){
    margin-bottom: 0 ;
}
.item-text {
    border: 1px solid var(--secondary-color-text);
    border-top: none;
    padding: 32px 0 32px 16px;

}




